<%- include('partials/header.ejs') %>

<div class="ui segment">
    <h2 class="ui header">
        <i class="settings icon"></i>
        <div class="content">
            List Of Journals
            <div class="sub header">Please Select Your Journals</div>
        </div>
    </h2>
</div>

<div class="ui items">
    <% listjournals.forEach(function(listjournals){ %>
    <div class="item">
        <div class="ui small image">
            <img src="<%= listjournals.image %>">
        </div>
        <div class="content">
            <div class="header"><%= listjournals.name %></div>
            <div class="meta">
                <span class="price">$1200</span>
                <span class="stay">1 Month</span>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class = "ui divider"></div>
    <% }) %>
    
    <a class="ui primary button" href="/">Back</a>
</div>


<%- include('partials/footer.ejs') %>